h1 {
	color: maroon;
	font-family: impact, helvetica;
	font-size: 3em;
	text-align: left;
}

h2 {
	color: firebrick;
	font-size: 1.5em;
	text-align: left;
}

h3 {
	color: navy;
	text-align: left;
}

a {
	text-align: left;
	//display: inline-block;
}

p {
	text-align: left;
}

ul {
	color: navy;
	font-size: 22px;
	text-align: left;
}
li {
	color: navy;
	font-size: 22px;
	text-align: left;
}

body {  background-image: url(background.png); } 

